<%= render 'layouts/navbarwelcome' %>

<div id="main">
  <section class="background">
    <img src="http://i.imgur.com/Sww0Sa8.jpg" title="source: imgur.com" />
      <div class="vert-center">
	    <h1><%= link_to 'Find your place', places_path %></h1>
	    <h2><%= link_to 'GO EXPLORING', places_path %></h2>
		</div>
  </section>
</div>